---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { Graph } from "../layouts/BaseLayout.astro";

import Logo from "../components/Logo.astro";
import SocialButtons from "../components/SocialButtons.astro";
import Footer from "../components/Footer.astro";

const graph: Graph = {
    type: "website",
    brief: "This is my cool little webpage",
    description:
        "Hey! This is my personal website containing links to my socials and stuff.",
};
---

<BaseLayout graph={graph}>
    <div class="absolute inset-0 flex items-center justify-center">
        <div
            class="h-full pb-8 flex flex-col gap-12 justify-center items-center"
        >
            <Logo />
            <div class="p-4 rounded-xl">
                <p
                    class="block font-semibold mb-4 opacity-60 tracking-widest uppercase text-center"
                >
                    - Links -
                </p>
                <section class="flex flex-col gap-4 w-[80vw] md:w-90">
                    <SocialButtons />
                </section>
            </div>
        </div>
    </div>

    <Footer />
</BaseLayout>
